
# For loops

In [1]:
students = ['ali', 'hassan', 'saqib', 'khizar']

In [2]:
print(students)

['ali', 'hassan', 'saqib', 'khizar']

In [3]:
for student in students:
    print(student)

ali
hassan
saqib
khizar

In [6]:
for student in students:
    if student == 'saqib':
        print(f'{student} bahar jao')
    else:
        print(f'{student} andar ajao')

ali andar ajao
hassan andar ajao
saqib bahar jao
khizar andar ajao

In [10]:
for a in 'Pakistan':
    print(a, end = ' ')

P a k i s t a n

In [11]:
for a in 'Pakistan':
    print(a, end = '')

Pakistan

In [12]:
for num in range(10):
    print(num, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
for num in range(100):
    print(num, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [1]:
for num in range(1, 10):
    print(num, end = ' ')

1 2 3 4 5 6 7 8 9

In [2]:
tableNum = int(input('Please input table number: '))

for num in range(1, 10):
    print(f'{tableNum} * {num} = {tableNum * num}')

Please input table number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [4]:
for num in range(0,25,2):
    print(num, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24

In [5]:
for num in range(1,25,2):
    print(num, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

In [8]:
for num in range(25,0,-1):
    print(num, end = " ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [10]:
tableNum = int(input('Please input table number: '))

for num in range(1, 10):
    if num % 2 == 0:
        continue
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Please input table number: 2
2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
2 * 7 = 14
2 * 9 = 18

In [11]:
tableNum = int(input('Please input table number: '))

for num in range(1, 10):
    if num % 3 == 0:
        continue
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Please input table number: 2
2 * 1 = 2
2 * 2 = 4
2 * 4 = 8
2 * 5 = 10
2 * 7 = 14
2 * 8 = 16

In [12]:
tableNum = int(input('Please input table number: '))

for num in range(1, 10):
    if num % 2 == 0:
        break
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Please input table number: 4
4 * 1 = 4

In [3]:
Best_friend = []

for user in range(10):
    name = input("Enter your friend name: ")
    if name.startswith('a'):
        Best_friend.append(name)
Best_friend

Enter your friend name: ali
Enter your friend name: khizar
Enter your friend name: moiz
Enter your friend name: sadiq
Enter your friend name: saif
Enter your friend name: khan
Enter your friend name: baig
Enter your friend name: ahmed
Enter your friend name: taha
Enter your friend name: fahad

['ali', 'ahmed']

In [1]:
Best_friend = []

for user in range(2):
    name = input("Enter your friend name: ")
    if name.startswith('baig'):
        Best_friend.append(name)
Best_friend

Enter your friend name: khizar baig
Enter your friend name: ali

[]

# Nested for loop

In [2]:
for a in [1,2,3]:
    for b in 'nasir':
        print(a,b)

1 n
1 a
1 s
1 i
1 r
2 n
2 a
2 s
2 i
2 r
3 n
3 a
3 s
3 i
3 r

In [10]:
for tableNum in range(1,21):
    print("-----------")
    for num in range(1,11):
        print(f'{tableNum} * {num} = {tableNum * num}')

-----------
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
-----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
-----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
-----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
-----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
-----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
-----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
-----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
-----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
-----------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
-----------
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
-----------
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
-----------
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
-----------
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
-----------
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
-----------
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160
-----------
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
-----------
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180
-----------
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
-----------
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

# list comprehension

In [11]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
[ num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
[ num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]