In [33]:
#List

In [34]:
x = 3

In [2]:
y = [4, 7, 55, 89] #List

In [3]:
[4, 7, 77, 67]

[4, 7, 77, 67]

In [26]:
name= ['asif' , 'ali' , 'khizar']
name

['asif', 'ali', 'khizar']

In [6]:
z = ['karachi' , 1945, 23.45]
z

['karachi', 1945, 23.45]

In [14]:
fruits = ['apple' , 'mangos' , 'peach' , 'banana']
#index =    0          1          2          3
fruits[2]

'peach'

In [15]:
len(fruits)

4

In [16]:
del fruits[1]  #implace
fruits

['apple', 'peach', 'banana']

In [17]:
fruits.remove('apple') #by remove function
fruits

['peach', 'banana']

In [18]:
fruits[1] = 'mango'
fruits

['peach', 'mango']

In [19]:
fruits.append('apple')
fruits

['peach', 'mango', 'apple']

In [20]:
fruits.insert(0, 'grape')
fruits

['grape', 'peach', 'mango', 'apple']

In [22]:
fruits.insert(10, 'orange')
fruits

['grape', 'peach', 'mango', 'apple', 'grape', 'orange']

In [23]:
fruits.index('orange')

5

In [24]:
fruits.index('peach')

1

In [32]:
fruits.insert(9, 'pineapple')
fruits

['grape', 'peach', 'mango', 'apple', 'grape', 'orange', 'pineapple']

In [37]:
fruits.count('graphs')

0

In [39]:
a = [2, 5, 67, 54]
a.sort(reverse=True)  #  Descending order
a

[67, 54, 5, 2]

In [41]:
random = [35, 45, 567, 657]
random.reverse()  #reverse list without sorting
random

[657, 567, 45, 35]

In [42]:
b = random # pass by refernce
b

[657, 567, 45, 35]

In [43]:
random.append(120)
print(random)
print(b)

[657, 567, 45, 35, 120]
[657, 567, 45, 35, 120]

In [44]:
random.append(120)

In [45]:
b

[657, 567, 45, 35, 120, 120]

In [46]:
b.append('new')
random

[657, 567, 45, 35, 120, 120, 'new']

In [47]:
c = random.copy()

In [50]:
c

[657, 567, 45, 35, 120, 120, 'new']

In [53]:
c.append(764)

In [55]:
c

[657, 567, 45, 35, 120, 120, 'new', '0810', 764]

In [56]:
random

[657, 567, 45, 35, 120, 120, 'new']

# pop

In [68]:
poppedElement = random.pop()

IndexError: pop from empty list

In [105]:
random

[234, 5436]

In [106]:
poppedElement

657

In [107]:
random

[234, 5436]

In [108]:
newList = []

In [109]:
random = [234, 5436, 6346]

In [110]:
newList.append(random.pop())

In [111]:
newList

[6346]

In [112]:
newList.pop(2)

IndexError: pop index out of range

# Slicing

In [88]:
alist = [10,9,8,7,6,5,4,3,2,1,]
alist[4]

6

In [89]:
alist = [10,9,8,7,6,5,4,3,2,1,]
#index =[0,1,2,3,4,5,6,7,8,9]

In [90]:
alist[2:5]

[8, 7, 6]

In [91]:
alist[2:]

[8, 7, 6, 5, 4, 3, 2, 1]

In [92]:
alist[:7]

[10, 9, 8, 7, 6, 5, 4]

In [93]:
alist[5:2]

[]

In [95]:
#slicing always left to right
#always forwad

In [96]:
students=['asad', 'fahad', 'hasan', 'khizar', 'ashar', 'ali']
#index      -6       -5       -4        -3       -2     -1

In [97]:
students[-1]

'ali'

In [98]:
students[-3:]

['khizar', 'ashar', 'ali']

In [99]:
students[-5:-2]

['fahad', 'hasan', 'khizar']

In [100]:
students

['asad', 'fahad', 'hasan', 'khizar', 'ashar', 'ali']

In [102]:
students[-5:4]

['fahad', 'hasan', 'khizar']

In [103]:
students[-5:5]

['fahad', 'hasan', 'khizar', 'ashar']

# Tuples

In [117]:
a = (1,2,'3',4,5,6)

In [118]:
a

(1, 2, '3', 4, 5, 6)

In [115]:
a[3]

4

In [116]:
a[3]=232

TypeError: 'tuple' object does not support item assignment

In [125]:
a = 2,3,4,5,7   # packing # binding

In [126]:
a

(2, 3, 4, 5, 7)

In [127]:
x,y,z = a # unpacking

ValueError: too many values to unpack (expected 3)

In [128]:
a = 2,3,4

In [129]:
a

(2, 3, 4)

In [130]:
x,y,z = a

In [131]:
x

2

In [132]:
y

3

In [133]:
z

4

# List in list tuple in list etcetc

In [138]:
listInlist = [1,2,3,['apple','orange','banana']]

In [135]:
listInlit.insert(0,"apple")

NameError: name 'listInlit' is not defined